<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.views">  
      <category
            name="HTTP"
            id="me.glindholm.plugin.http4e2.ui">
      </category>
      <view
            name="HTTP4e2 Client"
            icon="icons/logo.png"
            category="me.glindholm.plugin.http4e2.ui"
            class="me.glindholm.plugin.http4e2.httpclient.ui.HdViewPart"
            id="me.glindholm.plugin.http4e2.ui.HdViewPart"
            >
      </view>
   </extension>
	<!--
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="HTTP"
            class="me.glindholm.plugin.http4e2.httpclient.ui.preferences.HTTPClientPreferencePage"
            id="me.glindholm.plugin.http4e2.ui.preferences.HTTPClient"
            name="HTTP4E">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="me.glindholm.plugin.http4e2.httpclient.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
	-->
	
   <!--
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="me.glindholm.plugin.http4e2.ui.HdViewPart"
            id="me.glindholm.plugin.http4e2.ui.HdViewPart.pushbutton">
         <action
               class="me.glindholm.plugin.http4e2.httpclient.ui.actions.HdActionDelegate"
               enablesFor="*"
               icon="icons/tab-open.png"
               id="add.tab"
               label="Add Tab"
               toolbarPath="push_group"
               tooltip="Add new tab">
         </action>
      </viewContribution>
   </extension>   
   -->
   
</plugin>
